{% extends 'base.html' %}

{% block content %}
<body>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
                <th scope="col">Subject</th>
            </tr>
            </thead>
            {% for contact in contact_list %}
            <tbody>
            <tr>
                <th scope="row">{{contact.id}}</th>
                <td>{{contact.email_from}}</td>
                <td>{{contact.message}}</td>
                <td>{{contact.subject}}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
</body>
{% endblock content %}
