{% extends 'base.html' %}

{% block content %}
    <body>
        <table>
            <tr>
                <td>Id</td>
                <td>Type</td>
                <td>Source</td>
                <td>Created</td>
                <td>Buy</td>
                <td>Sale</td>
            </tr>
            <hr>
            {% for rate in rates%}
            <tr>
                <td> {{rate.id}} </td>
                <td> {{rate.type}} </td>
                <td> {{rate.source}} </td>
                <td> {{rate.created}} </td>
                <td> {{rate.buy}} </td>
                <td> {{rate.sale}} </td>
            </tr>
            {% endfor %}
        </table>
    </body>
{% endblock content %}