{% extends 'base.html' %}

{% block content %}
<nav>
    <a href = "{% url 'currency:rate_create' %}" >Rate Create</a>
</nav>
    <body>
        <table>
            <tr>
                <td>Id</td>
                <td>Type</td>
                <td>Source</td>
                <td>Created</td>
                <td>Buy</td>
                <td>Sale</td>
            </tr>
            {% for rate in rate_list %}
            <tr>
                <td> {{ rate.id }} </td>
                <td> {{ rate.type }} </td>
                <td> {{ rate.source.name }} </td>
                <td> {{ rate.created }} </td>
                <td> {{ rate.buy }} </td>
                <td> {{ rate.sale }} </td>
                <td> <a href="{% url 'currency:rate_update' rate.id %}" > Edit </a> <td>
                <td> <a href="{% url 'currency:rate_delete' rate.id %}" > Delete </a> <td>
            </tr>
            {% endfor %}
        </table>
    </body>
{% endblock content %}