{% extends 'base.html' %}

{% block content %}
<nav>
    <a href='{%url 'currency:source_create' %}'>Source Create</a>
</nav>
    <body>
        <table>
            <tr>
                <td>Id</td>
                <td>URL</td>
                <td>Name</td>
                <td>Contact namber</td>
            </tr>
            {% for source in source_list %}
            <tr>
                <td> {{ source.id }} </td>
                <td> {{ source.source_url }} </td>
                <td> {{ source.name }} </td>
                <td> {{ source.contact_namber }} </td>
                <td> <a href='{% url 'currency:source_detail' source.id %}'>Details</a> <td>
                <td> <a href='{% url 'currency:source_update' source.id %}'>Edit</a> <td>
                <td> <a href='{% url 'currency:source_delete' source.id %}'>Delete</a> <td>
            </tr>
            {% endfor %}
        </table>
    </body>
{% endblock content %}